<% include partials/header %>

<div class="container">

  <header class="jumbotron">
    <div class="container">
    <h1>Welcome to YelpCamp!</h1>
    <p>View our handpicked campsites from aroud the Lake District</p>
    <p>
      <a href="/campsites/new" class="btn btn-primary btn-lg">Add a new campsite</a>
    </p>
    </div>
  </header>


  <div class="row" style="display:flex; flex-wrap: wrap;">
    <% campsites.forEach(function(campsite) { %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <img src="<%= campsite.image %>">
            <h4><%= campsite.name %></h4>
            <p><a href="/campsites/<%= campsite._id %>" class="btn btn-primary">MORE INFO</a></p>
        </div> 

      </div> 
    <% }); %>
  </div>

</div>

<% include partials/footer %>