<% include partials/header %>

<div class="container">

  <header class="jumbotron">
    <div class="container">
    <h1>Register for YelpCamp!</h1>
    <p>Register to view our handpicked campsites from aroud the Lake District</p>
      </div>
  </header>
  <form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Sign Up</button>
  </form>
</div>

<% include partials/footer %>