<% include ./partials/header.ejs %>

<div class="ui main text container segment">
    <div class="ui huge header">EDIT Blog: "<%= blog.title %>"</div>
    <form action="/blogs" method="POST" class="ui form">
      <div class="field">
        <label>Title</label>
          <input type="text" name="title" value="<%= blog.title %>">
      </div>
      <div class="field">
        <label>Image</label>
          <input type="text" name="image" value="<%= blog.image %>">
      </div>
      <div class="field">
        <label>Body</label>
          <textarea name="body"><%= blog.body %></textarea>
      </div>
      <input type="submit" class="ui basic button olive">
    </form>
</div>

<% include ./partials/footer.ejs %>